.main-session-wrapper
  %h1{:class => 'main_title'}
    Sign In
  .signup-login-wrap
    .data-container
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %div.group
          = f.label :email, 'Email address'
          = f.email_field :email, :autofocus => true
        %div.group
          = f.label :password, 'Password'
          = f.password_field :password
        %div.group
          .group
            = f.submit "Log me in", :class => "button"
            - if devise_mapping.rememberable?
              %div.group.remember_me
                .left
                  = f.check_box :remember_me
                .left
                  = f.label :remember_me
        %hr/
        = render "devise/shared/links"